* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", sans-serif;
}

:root {
    --primary-color: #071e07;
    --secondary-color: #2d531a;
    --third-color: #c7d5a6;
    --forth-color: #c7d5a6;
    --blue-color: #123a5e;
}

main {
    margin-top: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 8%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;


}

.recherche {
    display: block;

}

.ul {
    display: flex;
}

ul li {
    list-style: none;

}